body {
    width: 90%;
    margin: 0 auto;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

footer {
    display: flex;
    font-size: 0.8rem;
    color: #777;
    margin-bottom: 1em;
}

footer > *:first-child {
    flex: 1;
}
